@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* SOLUTION */

body {
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  display: flex;
}

.footer {
  background-color: rgb(224, 223, 223);
  justify-self: flex-end;
  margin-top: auto;
}
ul {
  list-style: none;
  display: inline-block;
}

.left-links,
.right-links {
  display: flex;
  gap: 12px;
}

.right-links {
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 40px;
}

a {
  color: rgb(88, 88, 88);
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

img {
  justify-self: center;
  /* align-self: center; */
  margin-top: auto;
}

.input {
  align-items: center;
}

button {
  padding: 8px;
}
